<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script language="JavaScript" type="text/JavaScript">
//<![CDATA[
$(document).ready(function(){
    var form = document.forms['request_party'];

    $("#imglnp").change(function(){
        if (this.files && this.files[0]) {
            var file = this.files; // files 를 사용하면 파일의 정보를 알 수 있음
            // file 은 배열 형태이므로 file[0] 처럼 접근해야함
            if(file[0].type.indexOf("image") < 0){ // 선택한 파일이 이미지인지 확인
                alert('이미지 파일만 선택하세요.');
                return;
            }
            //alert('파일명 : ' + file[0].name + '\n사이즈 : ' + file[0].size + '\n타　입 : ' + file[0].type);

            var reader = new FileReader(); // FileReader 객체 사용
            reader.onload = function(rst){ // 파일을 다 읽었을 때 실행되는 부분
                $("#preview").attr("src", rst.target.result);
            }
            reader.readAsDataURL(file[0]); // 파일을 읽는다
        }
    });

    $("#place_temp, #type_temp").click(function(){
      $(this).hide();
    });
});

$( function() {
    $( "#datepicker" ).datepicker();
} );
//]]>
</script>

<div id="mArticle">
  <div class="box_g box_written">
    <h2 class="tit_sub">모임 개설 신청</h2>
    <form name="request_party" method="POST" action="/parties" enctype="multipart/form-data">
      <fieldset>
        <legend class="screen_out">모임 개설 신청 내용 입력폼</legend>
        <div class="thumb_g thumb_upload">
          <img id="preview" src="/images/m640/thumb_temp.png" class="thumb_img" alt="이미지를 선택하세요">
          <span class="item_upload">
            <label for="" class="lab_comm" ><span class="ico_ggida ico_upload"></span></label>
            <input id="imglnp" type="file" name="party[images]" class="inp_comm inp_upload" accept="images/*" />
          </span>
        </div>
        <ul class="list_writte">
          <li>
            <div class="item_inp inp_type1"><label for="" class="lab_weite" >이름</label> <span class="cell_inp"><input name="party[applier_name]" id="applier_name" type="text" class="inp_weite" maxlength="100" placeholder="이름 입력"/></span></div>
            <div class="item_inp inp_type2"><label for="" class="lab_weite" >핸드폰번호</label> <span class="cell_inp"><input name="party[contact_number]" id="contact_number" type="tel" class="inp_weite" maxlength="100" placeholder="000-0000-0000"/></span></div>
          </li>
          <li>
            <div class="item_inp "><label for="" class="lab_weite" >EMAIL</label> <span class="cell_inp"><input name="party[contact_email]" id="contact_email" type="email" class="inp_weite" maxlength="100" placeholder="이메일을 입력하세요"/></span></div>
          </li>
          <li>
            <div class="item_inp "><label for="" class="lab_weite" >모임명</label> <span class="cell_inp"><input name="party[title]" id="title" type="text" class="inp_weite" maxlength="100" placeholder="모임명을 입력하세요"/></span></div>
          </li>
          <li>
            <div class="item_inp ">
                <label for="" class="lab_weite" >모임장소</label>
                <div class="cell_inp">
                  <span id="place_temp" class="txt_label">모임 장소를 선택하세요.</span> <!-- select 포커스시 display:none -->
                  <select id="place" name="party[kitchenId]" class="inp_weite">
                    <option value="">선택하세요</option>
				  <% @kitchens.each_with_index do |kitchen, idx| %>
                    <option value="<%=kitchen.id%>"><%=kitchen.name%></option>
                  <% end %>
                  </select>
                </div>
            </div>
          </li>
          <li>
            <div class="item_inp inp_type3">
              <label for="" class="lab_weite" >모임소개</label>
              <span class="cell_inp">
                <textarea class="inp_cmt" id="contents" name="party[contents]" placeholder="모임내용에 대해 설명해주세요. (최대 120자)"></textarea>
              </span>
            </div>
          </li>
          <li>
            <div class="item_inp ">
              <label for="" class="lab_weite" >모임유형</label>
              <div class="cell_inp">
                <span id="type_temp" class="txt_label">모임 장소를 선택하세요.</span> <!-- select 포커스시 display:none -->
                <select id="type" name="party[type]" class="inp_weite">
                  <option value=""></option>
                  <option value="0">함께 장보고 요리하기</option>
                  <option value="1">참여자가 각자 식재료 구매하고 함께 요리하기</option>
                  <option value="2">모임개설자가 식재료 구매하고 함께 요리하기</option>
                  <option value="3">기타유형</option>
                </select>
              </div>
            </div>
          </li>
          <li>
            <div class="item_inp">
              <label for="" class="lab_weite" >모임일정</label>
              <div class="cell_inp">
                <input type="text" name="party[start_date]" id="datepicker" class="inp_weite" placeholder="모임일정을 지정해 주세요.">
              </div>
            </div>
          </li>
          <li>
            <div class="item_inp inp_type4">
              <label for="" class="lab_weite" >최소인원</label><div class="cell_inp"><input name="party[min_participants]" id="min_participants" type="number" class="inp_weite" placeholder="0명"></div>
            </div>
            <div class="item_inp inp_type4">
              <label for="" class="lab_weite" >최대인원</label><div class="cell_inp"><input name="party[max_participants]" id="max_participants" type="number" class="inp_weite" placeholder="0명"></div>
            </div>
            <div class="item_inp inp_type5">
              <label for="" class="lab_weite" >참가비</label><div class="cell_inp"><input name="party[price]" id="price" type="number" class="inp_weite" placeholder="0원"></div>
            </div>
          </li>
        </ul>
        <div class="wrap_button">
          <button type="submit" class="btn_round btn_submit">신청</button>
          <button type="button" class="btn_round btn_cancle">취소</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>