<% flash.each do |key, value| %>
    <div class="alert alert-<%= key.eql?('notice') ? 'info' : 'danger'%>"><%= value %></div>
<% end %>
<div id="ggidaContent" class="cont_main" role="main">
  <div id="cMain">
      <div id="mArticle">
        <div class="box_g box_sign">
          <img src="/images/m640/img_logo.png" class="logo_img" alt="끼다 로고">
          <h3 class="">로그인</h3>
          <form action="/managers/sign_in" method="post" class="form-horizontal">
            <div class="item_inp ">
              <label for="" class="lab_weite" >EMAIL</label><div class="cell_inp"><input type="number" id="datepicker" class="inp_weite" placeholder="ggida@mail.com"></div>
            </div>



            <div class="form-group">
              <label class="col-sm-2 control-label">Email</label>
              <div class="col-sm-10">
                <input type="email" class="form-control" name="manager[email]" placeholder="이메일 입력" />
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword" class="col-sm-2 control-label">Password</label>
              <div class="col-sm-10">
                <input type="password" class="form-control" name="manager[password]" placeholder="비밀번호 입력" />
              </div>
            </div>
            <button type="submit" class="btn btn-default">로그인</button>
          </form>
          <a href="#none" class=""link_info">비밀번호 </a>/ <a href="#none" class=""link_info">이메일 계정 찾기</div>
        </div>
      </div>
  </div>
</div>

<li>
  <div class="item_inp inp_type4">
    <label for="" class="lab_weite" >최소인원</label><div class="cell_inp"><input type="number" id="datepicker" class="inp_weite" placeholder="0명"></div>
  </div>
  <div class="item_inp inp_type4">
    <label for="" class="lab_weite" >최대인원</label><div class="cell_inp"><input type="number" id="datepicker" class="inp_weite" placeholder="0명"></div>
  </div>
  <div class="item_inp inp_type5">
    <label for="" class="lab_weite" >참가비</label><div class="cell_inp"><input type="number" id="datepicker" class="inp_weite" placeholder="0원"></div>
  </div>
</li>