<%@title = "끼다 사용안내"%>
<%@description = "밥모임에 참여하고 싶다면? 밥모임을 직접 열어보고 싶다면?"%>
<div id="mArticle">
	<a href="/">
		<img src="/images/intro_guide01.jpg" width="100%" />
	</a>
	<a href="/parties/new">
		<img src="/images/intro_guide02.jpg" width="100%" />
	</a>
</div>
