<div id="mArticle">
  <div class="box_g box_contact">
    <ul class="list_contact">
      <li class="on">
        <div class="cont_contact">
          <div class="thumb_g"><img src="/images/temp/temp_contact_01.png" class="thumb_img" alt=""></div>
          <div href="#none" class="link_ask">
            <div class="desc_contact">
              <strong class="tit_contact">채식요리 같이 만들어요!</strong>
              <span class="txt_contact">03.15 12시, 청춘플랫폼</span>
              <span class="contact_r">3명 남았어요 <span class="txt_bar">|</span> <em>모임 참가 신청하기</em></span>
            </div>
          </div>
          <div class="bg_dimmed"></div>
        </div>
      </li>
      <li class="">
        <div class="cont_contact">
          <div class="thumb_g"><img src="/images/temp/temp_contact_02.png" class="thumb_img" alt=""></div>
          <div href="#none" class="link_ask">
            <div class="desc_contact">
              <strong class="tit_contact">브런치 함께 할까요?</strong>
              <span class="txt_contact">03.12 12시, 무중력지대</span>
              <span class="contact_r">모집이 마감되었습니다.</span>
            </div>
          </div>
        </div>
      </li>
      <li class="">
        <div class="cont_contact">
          <div class="thumb_g"><img src="/images/temp/temp_contact_02.png" class="thumb_img" alt=""></div>
          <div href="#none" class="link_ask">
            <div class="desc_contact">
              <strong class="tit_contact">브런치 함께 할까요?</strong>
              <span class="txt_contact">03.12 12시, 무중력지대</span>
              <span class="contact_r">모집이 마감되었습니다.</span>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>