<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>모임 개설 승인</h1>
    <span><%=@party["title"]%> 모임의 개설이 승인되었습니다.</span>
    <a href="http://ggida.org/parties/<%=@party["id"]%>">바로가기</a>
  </body>
</html>