<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>모임 개설 반려</h1>
    <span><%=@party["title"]%> 모임의 개설이 반려되었습니다.</span>
  </body>
</html>