<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>모임 요청이 도착했습니다.</h1>
    <a href="/parties/<%=@party["id"]%>"><%=@party["title"]%></a>
  </body>
</html>