@charset "utf-8";

/* reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button{margin:0;padding:0}
fieldset,img{border:0 none}
dl,ul,ol,menu,li{list-style:none}
blockquote, q{quotes:none}
blockquote:before, blockquote:after,q:before, q:after{content:'';content:none}
input,select,textarea,button{vertical-align:middle;font-size:100%}
button{border:0 none;background-color:transparent;cursor:pointer}
button:focus{outline:0}
table{border-collapse:collapse;border-spacing:0}
body{-webkit-text-size-adjust:none} /* 뷰표트 변환시 폰트크기 자동확대 방지. */
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox}
input[type='text'],input[type='password'],input[type='submit'],input[type='search'],input[type='tel'],input[type='email'],html input[type='button'],input[type='reset'] {-webkit-appearance:none;border-radius:0}
input[type='search']::-webkit-search-cancel-button{-webkit-appearance:none}
input,textarea {-webkit-tap-highlight-color:rgba(0,0,0,0)}

html, body{height:100%}
body{background:#f5f5f5 !important}
body,th,td,input,select,textarea,button{font-size:14px;line-height:1.5;font-family:'AppleSDGothicNeo','Malgun gothic','맑은 고딕',sans-serif;color:#333} /* color값은 디자인가이드에 맞게사용 */
a{color:#333;text-decoration:none}
a:active, a:hover{text-decoration:none}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal}

/* global */
.ir_pm{display:block;overflow:hidden;font-size:1px;line-height:0;text-indent:-9999px;background-color:transparent} 
.screen_out{overflow:hidden;position:absolute;width:0;height:0;line-height:0;text-indent:-9999px !important}
.screen_hide{font-size:0;line-height:0;visibility:hidden}
.show{display:block}
.hide{display:none}
.clear_g{display:block;overflow:visible;width:auto;clear:both}
.clear_g:after{display:block;visibility:hidden;height:0;font-size:0;clear:both;content:''}

/* common */
.ico_ggida{display:inline-block;overflow:hidden;font-size:0;line-height:0;background:url(/images/m320/ico_ggida.png) no-repeat;text-indent:-9999px;vertical-align:top}
.ico_shop{background-color:red}
.link_cont{display:block;position:relative}
.thumb_g{display:block;position:relative;width:100%}
.thumb_g:before{content:'';position:absolute;bottom:0;left:0;width:100%;height:1px;background-color:#000;opacity:.07}
.thumb_img{width:100%;vertical-align:top}
.bg_img{display:block;width:100%}
.logo_img{display:block;width:70px;margin:0 auto}
.txt_slash{display:inline-block;padding:0 4px 0 5px;font-size:13px;line-height:17px;color:#444}
.txt_error{display:block;font-size:13px;line-height:17px;color:#ff5200;text-align:center} 
.emph_g{color:#ff6800}

/* layout */
#kakaoIndex{overflow:hidden;position:absolute;left:-9999px;width:0;height:1px}
#ggidaGnb{display:none}

.tit_sub{display:block;padding:92px 0 23px;font-weight:400;font-size:18px;line-height21px;color:#ff5200;text-align:center}
.btn_ggida{position:absolute;top:0;left:0;padding:30px 0 0 30px}
.btn_navi{display:block;padding:30px 0 0 30px}
.btn_navi .ico_navi{width:25px;height:17px;background-position:0 -44px}
.btn_close{}
.btn_close .ico_close{width:25px;height:17px;margin-left:2px;background-position:-30px -44px}
.inp_comm{position:absolute;top:0;left:0;width:100%;height:100%;border:0 none;outline:0;background:transparent}
.inp_upload{font-size:1px;line-height:1px;opacity:0;color:transparent}
.lab_comm{display:block}

/* header */
.ggida_head{position:absolute;top:0;left:0;z-index:99;width:100%}
.ggida_head .tit_head{display:none}
.fixed_head .tit_head{display:block}
.fixed_head .btn_navi, .cont_sub .btn_navi{position:fixed;top:20px;left:20px;width:42px;height:38px;padding:22px 0 0 18px;border-radius:60px;background-color:#FF6800;-webkit-box-shadow:0 2px 10px 0 rgba(0,0,0,.25);box-shadow:0 2px 10px 0 rgba(0,0,0,.25)}
.navi_on{display:block;left:0 !important}

.side_menu {display:none}
.gnb_ggida{padding-top:114px}
.gnb_ggida li{margin-top:60px;text-align:center}
.gnb_ggida li:first-child{margin-top:0}
.gnb_ggida .link_gnb{display:inline-block;font-weight:100;font-size:20px;line-height:24px;color:#fff;letter-spacing:.3em}
.side_menu {
    background:-moz-linear-gradient(top, rgba(248,21,48,.9) 0%, rgba(228,89,1,.9) 45%, rgba(228,89,1,.9) 100%); /* FF3.6-15 */
    background:-webkit-linear-gradient(top, rgba(248,21,48,.9) 0%,rgba(228,89,1,.9) 45%,rgba(228,89,1,.9) 100%); /* Chrome10-25,Safari5.1-6 */
    background:linear-gradient(to bottom, rgba(248,21,48,.9) 0%,rgba(228,89,1,.9) 45%,rgba(228,89,1,.9) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f81530', endColorstr='#00e45901',GradientType=0 )}

.item_upload{position:absolute;top:50%;left:50%;margin:-22px 0 0 -22px}
.item_upload .ico_upload{width:44px;height:44px;background-position:-44px 0}

.item_inp{overflow:hidden;width:100%}
.item_inp .lab_weite{display:block;margin-top:19px;color:#7c7c7c;letter-spacing:2px}
.item_inp .cell_inp{display:block;height:30px;margin-top:12px;padding:9px 10px 5px 15px;border-radius:3px;background-color:#fff}
.item_inp .inp_weite{display:block;width:100%;height:100%;border:0 none;font-size:16px;line-height:20px;outline:0;background-color:transparent}
.item_inp .inp_cmt{display:block;overflow:auto;width:100%;height:140px;min-height:60px;border:0 none;box-sizing:border-box;-webkit-box-sizing:border-box;resize:none;outline:0;font-size:16px;line-height:20px;color:#444}
.item_inp .txt_label{display:block;margin-top:3px;font-size:16px;line-height:20px;color:#999}
.item_inp .txt_weite{display:block;overflow:hidden;padding-top:4px;font-size:16px;line-height:20px;color:#444;text-overflow:ellipsis;white-space:nowrap}

.inp_type1{float:left;width:33%}
.inp_type2{float:left;width:67%}
.inp_type2 .lab_weite, .inp_type2 .cell_inp{margin-left:12px}
.inp_type3 .cell_inp{height:153px;padding:14px 15px 0}
.inp_type3 .txt_weite{padding-top:0}
.inp_type4{float:left;width:24.2%}
.inp_type4 .cell_inp{margin-right:12px}
.inp_type5{float:right;width:51.4%}
.inp_type5 .inp_weite{margin-right:5px;text-align:right}
.list_writte li{overflow:hidden}
.btn_round{display:block;height:32px;padding-top:16px;border:1px solid #ff6800;border-radius:44px;font-size:16px;line-height:18px;color:#ff6800;text-align:center}
.btn_round.btn_submit{background-color:#ff6800;color:#fff}
button.btn_round{height:50px;padding-top:4px}

.wrap_button{overflow:hidden;margin:42px 0px 33px;font-size:0}
.wrap_button li{float:left;width:50%}
.wrap_button li:first-child{float:right}
.wrap_button .btn_cancle{margin-right:8px}
.wrap_button .btn_submit{margin-left:8px}

/* 메인 홈_탑 비주얼 영역 */
.box_visual{position:relative;text-align:center}
.box_visual .inner_g{position:absolute;top:50%;left:0;width:100%;padding-top:12px;margin-top:-121px}
.box_visual .tit_visual{display:block;margin-top:16px;font-weight:300;font-size:18px;line-height:21px;color:#fff}
.box_visual .txt_info{display:block;margin-top:26px;font-weight:200;font-size:13px;line-height:21px;color:#ffcfc2}

.box_contact{margin-top:-24px}
.list_contact{padding:0 32px 38px}
.list_contact li{margin-top:40px;border-radius:3px}
.list_contact li:first-child{margin-top:0}
.list_contact .cont_contact{position:relative;-webkit-box-shadow:0 10px 15px 0 rgba(0,0,0,.05);box-shadow:0 10px 15px 0 rgba(0,0,0,.05)}
.list_contact .cont_contact:before{content:'';position:absolute;bottom:0;left:50%;width:70%;height:10px;margin-left: -35%;-webkit-box-shadow:0 15px 20px 0 rgba(0,0,0,.05);box-shadow:0 15px 20px 0 rgba(0,0,0,.05)}
.list_contact .link_ask{display:block;min-height:148px;padding:20px 24px 0;font-size:13px;line-height:16px;background-color:#fff;color:#7c7c7c}
.list_contact .desc_contact{position:relative;min-height:60px;padding-bottom:88px}
.list_contact .tit_contact{display:block;overflow:hidden;font-weight:200;font-size:18px;line-height:21px;color:#444}
.list_contact .txt_contact{display:block;margin-top:4px;font-weight:200;letter-spacing:1px}
.list_contact .contact_r{position:absolute;bottom:24px;width:100%;height:26px;padding-top:12px;border:1px solid #bcbcbc;border-radius:40px;text-align:center}
.list_contact .on .contact_r{border:1px solid #ff6800;color:#ff5300}

/* 로그인 */
.box_sign{margin:0 36px;padding-top:42px}
.box_sign .tit_login{margin-top:11px;padding-bottom:15px;font-weight:normal;font-size:20px;line-height:24px;color:#444;text-align:center;letter-spacing:2px}
.box_sign .btn_submit{width:150px;height:50px;margin:38px auto}
.box_sign .txt_error{position:absolute;top:160px;left:0;width:100%}
.cell_link{overflow:hidden;font-size:0;text-align:center}
.cell_link .link_info{display:inline-block;font-size:13px;line-height:17px;color:#444}
.cell_link + .cell_link{margin-top:14px}

/* 모입 개설 신청 */
.box_written{margin:0 32px}
.thumb_upload{position:relative;overflow:hidden;border-top-left-radius:3px;border-top-right-radius:3px}

/* 사용자_모임 상세 */
.thumb_main{position:absolute;top:0;left:0;width:100%}
.thumb_main:after{content:'';position:absolute;top:0;left:0;width:100%;height:140px;
    background:-moz-linear-gradient(top, rgba(0,0,0,.5) 0%, rgba(0,0,0,0) 100%); /* FF3.6-15 */
    background:-webkit-linear-gradient(top, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background:linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(0,0,0,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000', endColorstr='#000',GradientType=0 )}
.item_invite{padding:30px 32px 32px;background-color:#fff;color:#444}
.item_invite .tit_invite{display:block;font-size:28px;line-height:33px}
.item_invite .emph_g{display:block;margin-top:5px;font-size:15px;line-height:19px}
.item_invite .txt_weite{margin-top:30px;font-size:18px;line-height:21px;}
.list_invite{padding-top:6px;margin-bottom:70px;font-size:22px;line-height:27px}
.list_invite li{margin-top:24px}
.list_invite .em_txt{display:block;margin-bottom:4px;font-size:15px;line-height:19px;color:#7c7c7c}
.info_kitchen{overflow:hidden;margin-bottom:70px}
.info_kitchen .thumb_logo{float:left;width:68px;margin-right:18px;border:1px solid #fcd2c3;border-radius:70px}
.info_kitchen .tit_kitchen{display:block;overflow:hidden;font-weight:500;font-size:17px;line-height:20px;color:#444;letter-spacing:1.3px}
.info_kitchen .txt_kitchen{display:block;overflow:hidden;margin-top:9px;font-weight:200;font-size:15px;line-height:19px;color:#7c7c7c;letter-spacing:1px}






@media
only screen and (max-width: 768px) {
    #kakaoGnb{display:none}
	#mFeature {position:fixed;left:0;top:0;bottom:0;z-index:110}
    .navi_on {bottom:auto;height:100%}
    .side_menu {display:none;overflow-x:hidden;overflow-y:scroll;position:absolute;left:-1000px;top:0;bottom:0;width:100vw}
    .side_menu .btn_close {position:absolute;right:0;top:0;width:39px;height:50px}
}


@media
only screen and (max-device-height:480px) {
    .gnb_ggida li{margin-top:30px}
    .gnb_ggida li:first-child{margin-top:0}
}



/* ratio 2 */
@media
only screen and (-webkit-min-device-pixel-ratio:2),
only screen and (min-device-pixel-ratio:2),
only screen and (min-resolution:2dppx) {
    .ico_ggida{background-image:url(/images/m640/ico_ggida.png);-webkit-background-size:100px 100px;background-size:100px 100px}
}