<!DOCTYPE html>
<html>
  <head>
    <title>Ggida</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <div id="kakaoIndex">
    <a href="#kakaoBody">본문 바로가기</a>
    <a href="#kakaoGnb">메뉴 바로가기</a>
  </div>
  <div id="ggidaWrap">
    <div id="ggidaHead" class="ggida_head " role="banner"> <!-- box_visual 영역 사라지면 fixed_head 클래스 추가-->
      <div class="inner_head">
        <h1 class="tit_head"><a href="#none" class="link_logo"><span class="ico_ggida tit_logo">ggida</span></a></h1>
        <a href="#none" class="btn_ggida btn_navi"><span class="ico_ggida ico_navi">메뉴열기</span></a>
        <div id="ggidaGnb" role="navigation">
          <h2 class="screen_out">끼다 메인메뉴</h2>
          <ul class="gnb_ggida">
            <li><a href="#none" class="link_gnb">HOME</a></li>
            <li><a href="#none" class="link_gnb">모임개설신청</a></li>
            <li><a href="#none" class="link_gnb">끼다소개</a></li>
            <li><a href="#none" class="link_gnb">사용안내</a></li>
            <li><a href="#none" class="link_gnb">문의하기</a></li>
          </ul>
        </div>
      </div>
    </div>  <!-- //header-->

    <%= yield %> <!-- 본문부분 -->

    <!-- 여기까지 푸터 -->
    <div id="ggidaFoot"></div> <!-- //Footer -->
  </div>

  </body>
</html>
